.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div .card {
  border: 8px solid black;
  margin: 8px auto;
  width: 89%;
  margin-top: 28px;
  background-color: rgb(213, 213, 213);
}

.picture {
  width: 87%;
}

.add-character {
  font-size: larger;
  margin: auto 26%;
  padding: 10px;
  white-space: nowrap;
}

input[type="text"] {
  border: 2px solid red;
  border-radius: 4px;
}

.input-text::placeholder {
  font-weight: bold;
}

select {
  border: 2px solid red;
  border-radius: 4px;
}

textarea {
  border: 2px solid red;
  border-radius: 4px;
  margin: 5px;
  width: 50%;
  height: 80px;
}

.header {
  margin: 7px auto;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 86%;
  outline: 3px yellow solid;
  outline-offset: -6px;
}

h1 {
  font-style: italic;
  text-decoration: underline;
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

.del-btn {
  border: 3px solid red;
  border-radius: 4px;
  color: red;
  margin: 20px;
  font-size: large;
}

.del-btn:hover {
  font-weight: bold;
  cursor: pointer;
  border: 4px solid red;
}

.links {
  border: 4px solid rgb(255, 166, 0);
  border-radius: 50%;
  background-color: yellow;
  margin: 1px auto;
  margin-top: 30px;
  padding: 6px;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.links:hover {
  font-style: italic;
  border: 5px solid rgb(255, 166, 0);
  cursor: pointer;
  color: black;
}

.about {
  color: white;
  background-color: black;
  padding: 30px;
  border: 11px white solid;
  outline: 2px solid yellow;
  outline-offset: -17px;
  font-style: italic;
  margin: auto;
  width: 60%;
}

.submit {
  border: 3px red solid;
  border-radius: 12px;
  color: white;
  background-color: black;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: large;
}

.submit:hover {
  border: 5px solid red;
  border-radius: 12px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-style: italic;
}

.radio {
  display: inline;
  margin: 5px;
}

h4 {
  font-style: italic;
  margin-bottom: 5px;
}

p {
  margin: 5px;
}

.input-text {
  margin: 5px;
}

b {
  margin: 5px;
}

.char-text {
  padding: 25px;
  font-size: larger;
}

h2 {
  font-size: 2em;
  background-color: gray;
  border-radius: 50%;
  width: 55%;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: 4px black solid;
  color: white;
}

a {
  color: white;
}

a:hover {
  cursor: pointer;
  color: yellow;
  font-style: normal;
}

.navlink {
  background-color: black;
  margin: auto;
  width: 50%;
  border-radius: 50%;
}

form {
  margin-top: 30px;
  margin-bottom: 10px;
}